body {
  background: #ffdea9;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.weather-app-wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.weather-app {
  border: 1px solid #ffab5a;
  margin-top: 150px;
  border-radius: 10px;
  padding: 30px;
  background-color: #f9f7f4;
  margin-bottom: 12px;
}

h1 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: normal;
  line-height: 26px;
}

.row-3 {
  margin-top: 20px;
}

.fa-cloud {
  font-size: 60px;
  margin-right: 16px;
  color: lightskyblue;
}

#cur-temp-nr {
  font-size: 60px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -16px;
}
